// === variables ===
$plate-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$fz-main: 16px;
$ff-outfit: 'Outfit', sans-serif;
$ff-rhd: 'Red Hat Display', sans-serif;
// === / variables ===

// === common styles ===
:root {
    box-sizing: border-box;
} 

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff-outfit;
    font-weight: 500;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $plate-blue url('/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    padding: 0px 10px;
}

.content-container {
    max-width: 340px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
// === / common styles ===

// === card styles ===
.card {
    max-width: 410px;
    border-radius: 15px;
    text-align: center;
    background: hsl(100, 100%, 100%);
    overflow: hidden;

    &-header__img {
       display: block;
       width: 100%;
    }

    &-main {
        margin-top: 40px;
        color: $desaturated-blue;

        &__article-title {
            color: $dark-blue;
            margin-bottom: 20px;
            font-family: $ff-rhd;
            font-weight: 900;
        }

        &__article-text {
            line-height: 1.5;
        }

        &__plans {
            margin-top: 20px;
            margin-bottom: 30px;
            background: $very-pale-blue;
            border-radius: 10px;
            padding: 20px;

            &-item {
                display: flex;
                align-items: center;

                &__logo {
                    border-radius: 50%;
                    margin-right: 15px;
                }

                &__description {

                    &-title{
                        color: $dark-blue;
                        font-family: $ff-rhd;
                        font-weight: 900;
                        font-size: 15px;
                    }

                    &-price {
                        display: flex;
                    }
                }

                &__btn {
                    color: $bright-blue;
                    font-family: $ff-rhd;
                    font-weight: 900;
                    margin-left: auto;
                    transition: all .2s linear;

                    &:hover {
                        color: hsl(245, 85%, 62%);
                        text-decoration: none;
                    }

                    &:active {
                        color: hsl(240, 55%, 52%);
                        text-decoration: none;
                    }
                }
            }

        }
    }

    &-footer {
        display: flex;
        flex-direction: column;

        &-btns {
            text-decoration: none;
            font-family: $ff-rhd;
            font-weight: 900;
            display: inline-block;
            cursor: pointer;
        }

        &__payment-btn {
            background: $bright-blue;
            color: hsl(100, 100%, 100%);
            padding: 15px 0;
            width: 100%;
            border-radius: 15px;
            box-shadow: 0 10px 30px -10px $desaturated-blue;
            margin-bottom: 30px;
            transition: all .3s linear;

            &:hover {
                background: hsl(245, 75%, 62%);
            }  

            &:active {
                background: hsl(245, 75%, 72%);
            }   
        }

        &__cancel-btn {
            color: $desaturated-blue;
            margin-bottom: 30px;
            transition: all .3s linear;
            

            &:hover {
                color: $dark-blue;
            }
        }
    }
}
// === / card styles ===