// === variables ===
$plate-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$fz-main: 16px;
$ff-outfit: 'Outfit', sans-serif;
$ff-rhd: 'Red Hat Display', sans-serif;
// === / variables ===

// === common styles ===
:root {
    box-sizing: border-box;
} 

*, *::before, *::after { 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff-outfit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $plate-blue url('/images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    padding: 0px 10px;
}

.content-container {
    max-width: 320px;
    margin: 0 auto;
}
// === / common styles ===

// === card styles ===
.card {
    max-width: 410px;
    border-radius: 15px;
    text-align: center;
    background: hsl(100, 100%, 100%);
    overflow: hidden;

    &-header__img {
       display: block;
       width: 100%;
    }

    &-main {
        margin-top: 40px;
        font-family: $ff-rhd;
        color: $desaturated-blue;

        &__article-title {
            color: $dark-blue;
            margin-bottom: 20px;
        }

        &__article-text {
            line-height: 1.5;
        }

        &__plans {
            margin-top: 20px;
        }
    }
}
// === / card styles ===